.sidebar-container {
    color : rgb(197, 197, 197);
}

.sidebar-items {
    display: flex;
    align-items: center;
    margin: 15px;
    gap: 8px;
    height: 100%;
    font-weight: 300;
    cursor: pointer;
}

.side-options {
    margin-top: 40px;
}